* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-size: auto;
    background-repeat: repeat;



}

.middleTitle {
    color: white;
    text-align: center;
    font-family: monospace;
    white-space: pre;
    font-size: 10px;

    /* background-color: blue; */
}

.text-type {
    color: white;
    font-family: "Courier New";
    font-size: 18px;
}

.link-type {
    font-family: "Courier New";
    white-space: pre;
    font-size: 14px;

}

#link1 {
    color: red;
}

#link2 {
    color: magenta;
}

#link3 {
    color: orange;
}

#link4 {
    color: pink;
}

#link4 {
    color: green;
}

#link5 {
    color: cyan;
}



/* Boxes */
.default-box {
  float: left;
  margin-right: 15px;
}

.name-box {
    background-color: clear;
    width: 400px;
    height: 30px;
    display: block;
    padding: 30px;
    margin: 20px auto;

    text-align: center;


    /* border: 3px solid white; */
    border-bottom: 1px dotted white;
}

.link-box {
    background-color: clear;
    width: 400px;
    height: 200px;
    display: block;
    padding: 20px;
    margin: 20px auto;

    text-align: center;

    border-left: 1px dotted white;
    border-right: 1px dotted white;
}



.math-box {
    background-color: clear;
    display: block;
    padding: 20px;
    margin: 30px 10px;
    color: white;
}
